---
---

@import "{{ site.theme }}";

.wrapper {
    max-width: 800px;
}

section {
    max-width: 800px;
    margin-top: 0;
}

// Rouge flags the "#" in "C#" as a JavaScript syntax error
.highlight .err {
    color: inherit;
    background-color: transparent;
}
